body {
    background-color: silver;
}

h1 {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    text-align: center;
    color: black;
    background-color: silver;
    width: relative;
    margin: 0 auto;
    border: none;
}

.grid {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

img {
    transform: scale(1.25);
}
