<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./static/styles.css">
    </head>
    <body>
        <header>
            <h1>Rifle Specs</h1>
        </header>
        <main>
            <div class="grid">
                {% for weapon in weapons %}
                    {% if weapon.category == 'Rifle' %}
                        <div class="grid-item">
                            <h3><strong>{{ weapon.displayName }}</strong></h3>
                            <img src="{{ weapon.displayIcon }}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </main>
    </body>
</html>
