<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            /* Basic styling for the page */
            body {
                font-family: Arial, sans-serif;
                text-align: center;
                margin: 0;
                padding: 0;
                background-color: #f4f4f9;
            }
    
            h1 {
                margin-top: 50px;
            }
        </style>
    </head>
    <h1>Rifle Specs</h1>
    <ul>
        {% for weapon in weapons %}
            {% if weapon.category == 'Rifle' %}
                <li>
                    <h3><strong>{{ weapon.displayName }}</strong></h3>
                    Type: {{ weapon.category }}<br><br>
                    {% if weapon.weaponStats and weapon.weaponStats.damageRanges %}
                        {% set damageRange = weapon.weaponStats.damageRanges %}
                        <strong>Damage:</strong><br>
                        {{ damageRange[0].rangeStartMeters }}-{{damageRange[0].rangeEndMeters }} Meters<br>
                        <em>Headshot: </em>{{ damageRange[0].headDamage if damageRange[0].headDamage else 'N/A' }}, 
                        <em>Body: </em>{{ damageRange[0].bodyDamage if damageRange[0].bodyDamage else 'N/A' }}<br>
                        {% if damageRange|length > 1 %}
                            {{ damageRange[1].rangeStartMeters if damageRange[1].rangeStartMeters else 'N/A' }}-{{damageRange[1].rangeEndMeters if damageRange[1].rangeEndMeters else 'N/A'}} Meters<br>
                            <em>Headshot: </em>{{ damageRange[1].headDamage if damageRange[1].headDamage else 'N/A' }},
                            <em>Body: </em>{{ damageRange[1].bodyDamage if damageRange[1].bodyDamage else 'N/A' }}
                        {% endif %}
                        
                    {% else %}
                        Damage: Data not available
                    {% endif %}
                </li>
            {% else %}
            {% endif %}
            
        {% else %}
            <li>No weapons available at the moment.</li>
        {% endfor %}
    </ul>
</html>