<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            /* Basic styling for the page */
            body {
                font-family: Arial, sans-serif;
                text-align: center;
                margin: 0;
                padding: 0;
                background-color: #f4f4f9;
            }
    
            h1 {
                margin-top: 50px;
            }
        </style>
    </head>
    <h1>LMG Specs</h1>
    <ul>
        {% for weapon in weapons %}
            {% if weapon.category == 'Heavy' %}
                <li>
                    <strong>{{ weapon.displayName }}</strong><br>
                    Type: {{ weapon.category }}<br>
                    {% if weapon.weaponStats and weapon.weaponStats.damageRanges %}
                        {% set damageRange = weapon.weaponStats.damageRanges %}
                        Damage: 
                        {{ damageRange[0].headDamage if damageRange[0].headDamage else 'N/A' }} (Headshot), 
                        {{ damageRange[0].bodyDamage if damageRange[0].bodyDamage else 'N/A' }} (Body)
                    {% else %}
                        Damage: Data not available
                    {% endif %}
                </li>
            {% else %}
            {% endif %}
            
        {% else %}
            <li>No weapons available at the moment.</li>
        {% endfor %}
    </ul>
</html>